<%- include("../partials/header") %>
<div class="container">

  <div class="alert alert-Danger" role="alert" style="background-color: red ; color: white ; text-align: center">
Sorry ! We are working on these Page.Come Back Soon :(
</div>
<table class="table">
  <thead>
    <tr>

      <th scope="col"><h3>Let Us serve You!</h3></th>

    </tr>
  </thead>
</table>
</dic>

<div class="container" id='gap_assistance'>



<div class="card text-center" >
  <div class="card-header bg-assistance">
    <h3>Search In State! <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
  <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
</svg></h3>
  </div>


  <form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose you State</option>
        <option value="1">Andhra Pradesh</option>
        <option value="2">Arunachal Pradesh</option>
        <option value="3">Assam</option>
        <option value="3">Bihar</option>
        <option value="3">Chhattisgarh</option>
        <option value="3">Goa</option>
        <option value="3">Gujarat</option>
        <option value="3">Haryana</option>
        <option value="3">Himachal Pradesh</option>
        <option value="3">Jharkhand</option>
        <option value="3">Karnataka</option>
        <option value="3">Kerala</option>
        <option value="3">Madhya Pradesh</option>
        <option value="3">Maharashtra</option>
        <option value="3">Manipur</option>
        <option value="3">Meghalaya</option>
        <option value="3">Mizoram</option>
        <option value="3">Nagaland</option>
        <option value="3">Odisha</option>
        <option value="3">Punjab</option>
        <option value="3">Rajasthan</option>
        <option value="3">Sikkim</option>
        <option value="3">Tamil Nadu</option>
        <option value="3">Telangana</option>
        <option value="3">Tripura</option>
        <option value="3">Uttar Pradesh</option>
        <option value="3">Uttarakhand</option>
        <option value="3">West Bengal</option>



      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
  </form>
</div>
</div>


<div class="container" id='gap_assistance'>
<div class="card text-center">
  <div class="card-header bg-assistance">
    <h3>Search In City! <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
  <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
  </svg></h3>
  </div>
  <form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose your city</option>
        <option value="1">Mumbai</option>
        <option value="2">Delhi</option>
        <option value="3">Bangalore</option>
        <option value="3">Hyderabad</option>
        <option value="3">Ahmedabad</option>
        <option value="3">chennai</option>
        <option value="1">kolkata</option>
        <option value="2">surat</option>
        <option value="3">pune</option>
        <option value="3">jaipur</option>
        <option value="3">Nagpur</option>
        <option value="3">kanpur</option>
        <option value="1">Bhopal</option>
        <option value="2">patna</option>
        <option value="3">Ranchi</option>
        <option value="3">Srinagar</option>
        <option value="3">Raipur</option>
        <option value="3">Chandigar</option>
        <option value="1">Solapur</option>
        <option value="2">Bhubaneswar</option>
        <option value="3">Deharadun</option>
        <option value="3">Jammu</option>
        <option value="3">Thiruvananthapuram</option>
        <option value="3">Agartala</option>
        <option value="2">Aizawl</option>
        <option value="3">Imphal</option>
        <option value="3">Pondicherry</option>
        <option value="3">Gandhinagar</option>
        <option value="3">Shimla</option>
      </select>
    </div>
     <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
  </form>
</div>
</div>







<div class="container" id='gap_assistance'>
<div class="card text-center">
  <div class="card-header bg-assistance">
    <h3>Search In College! <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
  <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
  </svg></h3>
  </div>


    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose your college</option>
        <option value="1">Indian Institute of Technology Bombay</option>
        <option value="2">College of Engineering, Pune</option>
        <option value="3">Institute of Chemical Technology, Mumbai</option>
        <option value="3">Visvesvaraya National Institute of Technology Nagpur</option>
        <option value="3">Army Institute of Technology, Pune</option>

        <option value="3">Dr DY Patil Institute of Technology, Pune</option>
        <option value="3">Dr Vishwanath Karad MIT World Peace University, Pune</option>
        <option value="3">KJ Somaiya College of Engineering, Mumbai</option>
        <option value="3">MIT Art Design and Technology University, Pune</option>
        <option value="3">Vishwakarma Institute of Technology, Pune</option>
        <option value="3">Indian Institute of Technology Madras</option>
        <option value="3">Indian Institute of Technology Delhi</option>
        <option value="3">Indian Institute of Technology Kharagpur</option>
        <option value="3">Indian Institute of Technology Kanpur</option>
        <option value="3">Indian Institute of Technology Roorkee</option>
        <option value="3">Indian Institute of Technology Guwahati</option>
        <option value="3">Anna University</option>
        <option value="3">Indian Institute of Technology Hyderabad</option>
        <option value="3">Institute of Chemical Technology</option>
        <option value="3">National Institute of Technology Tiruchirappalli</option>
        <option value="3">Jadavpur University</option>
        <option value="3">Indian Institute of Technology, Dhanbad</option>
        <option value="3">Indian Institute of Technology Indore</option>
        <option value="3">National Institute of Technology Rourkela</option>
        <option value="3">Vellore Institute of Technology</option>
        <option value="3">Birla Institute of Technology & Science</option>
        <option value="3">Indian Institute of Technology Bhubaneswar</option>
        <option value="3">Thapar Institute of Engineering and Technology</option>
    </select>
    </div>


    <div class="col-auto my-1">
     <button type="submit" class="btn btn-primary">Search</button>
   </div>
  </div>

</div>

<div class="container" id="gap_assistance">
<div class="alert alert-primary" role="alert">
  <p>1) How to use above Search?</p>
  <p>Ans: For instance you Searching for best colleges for your undergraduation courses ,then you will be needing someones advice
       from your locality. So you can ask all your doubts about the college from the student who is already studing there and he/she is also form your own localtiy!.</p>
</div>


</div>

<div class="card text-center join">
  <div class="card-header">
    Need volenteers !
  </div>
  <div class="card-body">
    <h5 class="card-title">JOIN US NOW</h5>
    <p class="card-text">

Reach out to the lesser privileged and connect with awesome people like you!</p>
    <a href="/assistance/volenteer" class="btn join_btn">Go somewhere</a>
  </div>

</div>
